# Binary compile directory
/bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log
*.tlog
*.user

# Written config files
*.conf

# revision
/src/shared/revision.h

/win/.vs/
/win/ipch
*.opensdf
*.sdf
*.vcxproj.user
*.suo
/win/VC100/Win32*
/dep/recastnavigation/RecastDemo/Build/
/dep/recastnavigation/RecastDemo/Bin/Recast.exe
/dep/recastnavigation/RecastDemo/Bin/Recast.pdb
/dep/recastnavigation/RecastDemo/Bin/SDL.dll
/dep/recastnavigation/Detour/win/VC100/Detour__Win32*
/dep/recastnavigation/Recast/win/VC100/Detour__Win32_Release/
/dep/recastnavigation/Detour/win/VC100/Detour.vcxproj
